# ==========================
# Python (backend)
# ==========================
# Byte-compiled / optimized / DLL files
**/__pycache__/
**/*.py[cod]
**/*.so

# pytest cache
**/.pytest_cache/
.pytest_cache/

# SQLite DB files
**/*.db

# virtual env (if you ever create one here)
venv/
env/
.env

# Coverage reports
.coverage
htmlcov/

# Logs
*.log

# ==========================
# Node (frontend)
# ==========================
# Dependency directories
frontend/node_modules/

# Build outputs (if you ever run build)
frontend/build/
dist/
public/build/

# Debug logs
npm-debug.log*
yarn-debug.log*

# Environment files
*.env


# ==========================
# IDEs / Editor folders
# ==========================
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# ==========================
# macOS
# ==========================
.DS_Store

# ==========================
# Misc
# ==========================
#
